%sectionTitleOne{
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 0 10px;
    line-height: 1.2;
    color: $brand-color;
  
  }
  %sectionTitleTwo{
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 1px;
    color: $brand-color;
    padding-bottom: 20px;
    line-height: 1.2;
  }
